.main-container {
    margin: 0 3em 0 3em;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, a, img {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    transition: 0.3s ease;
    font-family: "SuisseIntl", serif;
    font-weight: 450;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    color: #151514;
  }
  
  p::selection, a::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection {
    background-color: yellow;
  }
  
  img::selection {
    background-color: transparent;
  }
  
  img, video, iframe, .img-wrapper {
    border-radius: 30px;
  }
  
  @media only screen and (max-width: 850px) {
    .main-container {
      margin: 0 1em 0 1em;
    }
  }
  /* ---------------------------------- @MEDIA ---------------------------------- */
  /* ---------------------------------- GRIDS ---------------------------------- */
  .grid {
    display: grid;
    grid-template-columns: fr 1fr 1fr;
    column-gap: 4em;
    row-gap: 100px;
  }
  
  .grid-project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5em;
  }
  
  .grid-project-archived {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.5em;
    align-items: baseline;
  }
  
  @media only screen and (max-width: 1800px) {
    .grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media only screen and (max-width: 1300px) {
    .grid-project {
      grid-template-columns: 1fr;
    }
  }
  @media only screen and (max-width: 992px) {
    .grid {
      grid-template-columns: 1fr;
    }
    .grid-project-archived {
      grid-template-columns: 1fr 1fr;
    }
  }
  /* ---------------------------------- NAVIGATION ---------------------------------- */
  nav {
    display: flex;
    height: 6em;
    justify-content: flex-end;
    align-items: center;
    transition: transform 0.3s ease;
  }

  /* iframe {
    border-radius: 10px;
    width: 100%;
    height: 100%;
   

  } */


  .video-preview {
    grid-column: 1 / -1; 
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: center;
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.video-preview video {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    position: absolute;
    background-color: blue;
}

.video-preview p {
    position: absolute;
    color: rgb(138, 26, 26);
    font-size: 2rem;
    z-index: -10; 
}
  
  /* Modal styling */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    margin-bottom: 500px;

  }
  
  .modal-content {
    position: relative; /* Ensure it's positioned relative to the modal */
    width: 100%; /* Full width of the modal */
    height: 100%; /* Full height of the modal */
    background-color: #fefefe;
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
  }
  
  iframe {
    width: 90%; /* You might want to give some margin */
    height: 90%; /* Same as above */
    border: none; /* Removes the border */
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  nav > a:nth-last-child(1) {
    margin-left: 30px;
  }
  
  nav > a:hover {
    opacity: 0.4;
  }
  
  .title-splash {
    grid-column: 1/7;
    text-align: center;
  }
  
  .title-splash > a:hover {
    opacity: 0.4;
  }
  
  @media only screen and (max-width: 1800px) {
    .title-splash {
      grid-column: 1/4;
    }
  }

  
  /* ---------------------------------- SPLASH ---------------------------------- */
  .video_splash-wrapper {
    grid-column: 3/5;
  }
  
  .splash-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1.5em;
    row-gap: 50px;
    width: 100%;
    height: 100vh;
    min-height: 30em;
    align-items: center;
    justify-content: center;
    
  }
  
  .splash-container > video {
    height: fit-content;
    justify-self: center;
    grid-column: 2;
  }
  
  @media only screen and (max-width: 1800px) {
    .splash-container {
      grid-template-columns: 1fr;
    }
    .splash-container > video {
      width: 50%;
    }
    .video_splash-wrapper {
      grid-column: 1;
    }
  }
  @media only screen and (max-width: 992px) {
    .splash-container > video {
      width: 80%;
    }
    .splash-container {
      column-gap: initial;
    }
  }
  /* ---------------------------------- FOOTER ---------------------------------- */
  footer {
    padding: 30px 0;
  }
  
  .link-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 1em;
    transition: transform 0.3s ease;
  }
  
  .link-footer:hover > h2 > a:hover {
    opacity: 0.4;
  }
  
  @media only screen and (max-width: 1800px) {
    .link-footer {
      grid-template-columns: 1fr 1fr;
    }
  }
  /* ---------------------------------- MAIN ---------------------------------- */
  main {
    min-height: 100vh;
  }
  
  .img-wrapper {
    overflow: hidden;
  }
  
  .img-wrapper > img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    vertical-align: middle;
  }

  .img-wrapper-big-img > img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    vertical-align: middle;
    margin-bottom: 70px;
  }

  /* .img-wrapper > img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    vertical-align: middle;
    margin-bottom: 70px;
  } */
  
  .img-wrapper:hover > img {
    transform: scale(1.04);
  }
  
  .project-container {
    align-items: start;
  }
  
  .project-container, .archive-container {
    margin-bottom: 20em;
  }
  
  .project-card > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .project-card-txt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    padding: 0 0.5em;
    padding-top: 1em;
    align-items: baseline;
  }
  
  .project_archived-card {
    border-bottom: 0.5px #1c1c1c solid;
    margin-bottom: 0.6em;
    padding-bottom: 0.6em;
  }
  
  .project_archived-card > .archive-item-role {
    grid-column: 3/4;
  }
  
  .archive-item-year {
    grid-column: 1/2;
  }
  
  .archive-item-title {
    grid-column: 2/3;
    transition: 0.2s;
  }
  
  .project_archived-card:hover > .archive-item-title {
    padding-left: 20px;
  }
  
  .archive-item-role {
    text-align: right;
  }
  
  @media only screen and (max-width: 1800px) {
    .grid-project-archived {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .project_archived-card > .archive-item-role {
      grid-column: 4/7;
    }
    .archive-item-title {
      grid-column: 2/4;
    }
  }
  @media only screen and (max-width: 992px) {
    .project-card-txt {
      grid-template-columns: 1fr;
      grid-row-gap: 0.4em;
    }
    .project-container, .archive-container {
      margin-bottom: 10em;
    }
    .project_archived-card {
      grid-row-gap: 0.2em;
      margin-bottom: 0.8em;
      padding-bottom: 0.8em;
    }
    .project_archived-card > .archive-item-role, .archive-item-title {
      grid-column: 2/7;
    }
    .archive-item-role {
      text-align: left;
    }
    .project-card > img {
      aspect-ratio: 4/3;
    }
  }
  /* ---------------------------------- PROJECTS ---------------------------------- */
  .grid-wrapper_projects {
    align-items: start;
    justify-content: end;
  }
  
  .grid-project_informations {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    row-gap: 1.5em;
    column-gap: 1.5em;
    align-self: start;
    top: 50px;
    position: sticky;
  }
  
  .grid-project_informations > h2 {
    grid-column: 1/3;
  }
  
  .infos-project {
    grid-row: 2;
    grid-column: 3;
  }
  
  .txt-project {
    grid-row: 2;
  }
  
  .date-project {
    margin-bottom: 3px;
  }
  
  .grid-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
    margin-bottom: 16em;
  }
  
  .grid-image > img, video {
    width: 100%;
    height: auto;
  }
  
  .grid-image > a {
    margin-bottom: 20px;
    justify-self: center;
  }
  
  .p_img-full {
    grid-column: 1/3;
    grid-row: auto;
  }
  
  .p_img-half-left {
    grid-column: 1/2;
    grid-row: auto;
  }
  
  .p_img-half-right {
    grid-column: 2/3;
    grid-row: auto;
  }
  
  @media only screen and (max-width: 1500px) {
    .grid-project_informations {
      grid-template-columns: auto;
      margin-bottom: 40px;
    }
    .infos-project {
      grid-row: 3;
      grid-column: 1;
    }
    .grid-image {
      margin-bottom: 6em;
    }
  }
  @media only screen and (max-width: 1300px) {
    .grid-project_informations {
      top: 0;
      position: relative;
    }
  }
  @media only screen and (max-width: 992px) {
    .grid-wrapper_projects {
      display: grid;
      grid-template-columns: 1fr 60%;
    }
  }
  @media only screen and (max-width: 850px) {
    .grid-wrapper_projects {
      display: grid;
      grid-template-columns: 100%;
    }
    .grid-project_informations {
      grid-template-columns: auto;
      grid-template-rows: auto auto auto;
      row-gap: 10px;
      margin-bottom: 40px;
    }
  }
  /* ---------------------------------- PAGINATION ---------------------------------- */
  .pagination {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.5em;
    padding-top: 3em;
    transition: transform 0.3s ease;
  }
  
  .pagination > a:first-child {
    grid-column: 1/2;
  }
  
  .pagination > a:last-child {
    grid-column: 3/4;
  }
  
  .pagination > a > h3:hover {
    opacity: 0.4;
  }
  
  @media only screen and (max-width: 1800px) {
    .pagination {
      grid-template-columns: 1fr 1fr;
    }
    .pagination > a:first-child {
      grid-column: 1/2;
    }
    .pagination > a:last-child {
      grid-column: 2/3;
    }
  }
  /* ---------------------------------- INFORMATIONS ---------------------------------- */
  .container-information {
    display: grid;
    align-content: center;
    height: 80vh;
  }
  
  .grid-informations {
    display: grid;
    grid-template-columns: 1.5fr 90px 1fr;
    position: relative;
    max-width: 1500px;
    align-items: center;
    margin: 0 auto;
  }
  
  .txt-informations-portraits {
    grid-column: 1;
    align-self: center;
  }
  
  .txt-informations-portrait > h2 {
    margin-bottom: 10px;
  }
  
  .img-project {
    grid-column: 3;
    display: block;
    height: auto;
    max-width: none;
    width: 100%;
  }
  
  @media only screen and (max-width: 992px) {
    .grid-informations {
      display: grid;
      grid-template-rows: auto 25px auto;
      margin-bottom: 80px;
    }
    .txt-informations-portrait {
      grid-row: 3;
      grid-column: 1/4;
    }
    .grid-informations > img {
      grid-column: 1/4;
    }
    .container-information {
      align-content: unset;
      height: none;
      height: fit-content;
    }
  }
  /* ---------------------------------- 404 ---------------------------------- */
  